/*MOBILE FIRST APPROACH*/

.app-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
}

/*Sub app wrapper*/
.wrapper-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.wrapper-1 .sub_wrapper2-1 {
    width: 100%;
}

/*Mobile Header*/
.m-header-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-block-start: 1.3rem;
}

/*Dahsboard Page*/
.m-dashboard-page-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
}
.dashboard-sub-cnt-1{
    width: 100%;
}